:root {
  --dark: #1d2129;
  --light: #efefef;
  --main-source: 'Montserrat Variable', sans-serif;
  --primary: #ff411d;
  --primary: #ffe64b;
  --secondary: #4e40de;
  --stroke: #1b1919;
}

html {
  scroll-behavior: smooth;
  /* Scroll */
  ::-webkit-scrollbar {
    width: 0.2rem;
    height: 0.3rem;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 100vw;
  }
  ::-webkit-scrollbar-track {
    margin-block: 0.1rem;
    margin-inline: 0.1rem;
    background: var(--stroke);
  }
  ::-webkit-scrollbar-corner {
    display: none;
  }

  /* selection */
  ::-moz-selection {
    background-color: var(--stroke);
    color: var(--primary);
  }
  ::selection {
    background-color: var(--stroke);
    color: var(--primary);
  }
  scrollbar-gutter: stable;
}

body {
  color: var(--dark);
  background-color: var(--light);
  font-family: var(--main-source);
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
  font-family: 'JetBrains Mono Variable', monospace;
}

/* We adapt them to the dark mode.  */
/* @media (prefers-color-scheme: dark) {
  body {
    color: var(--light);
    background-color: var(--dark);
  }
} */
