---
import Layout from '../layouts/Layout.astro'
import { DYNAMIC_PAGE } from '../utilities/constants/dynamic-pages'
import DynamicContent from '../components/core/layout/DynamicContent'

export const getStaticPaths = () => {
  return DYNAMIC_PAGE.map(({ category, data }) => {
    return {
      params: { category },
      props: { data, category },
    }
  })
}
const { data, category } = Astro.props
const { title, paragraph, items } = data
---

<Layout>
  <header class='test h-20'></header>
  <main>
    <article style={{ gridArea: 'info' }} class='p-4 flex flex-col items-center'>
      <h2 class='font-basicaline text-3xl text-black font-bold'>{title}</h2>
      <p class='text-gray-600'>{paragraph}</p>
    </article>

    <DynamicContent data={items} type={category} />
  </main>
</Layout>

<style>
  main {
    display: grid;
    grid-template-columns: 300px 1fr 1fr 1fr;
    grid-template-areas:
      'info info info info'
      'aside content content content'
      'aside content content content'
      'aside content content content';
  }
</style>
