---
import Layout from '../layouts/Layout.astro'
import { DYNAMIC_PAGE } from '../utilities/constants/dynamic-pages'
import DynamicContent from '../components/core/layout/DynamicContent'
import Navbar from '../components/core/layout/Navbar'

export const getStaticPaths = () => {
  return DYNAMIC_PAGE.map(({ category, data }) => {
    return {
      params: { category },
      props: { data, category },
    }
  })
}
const { data, category } = Astro.props
const { title, paragraph, items } = data
---

<Layout>
  <article class=''>
    <Navbar client:load />
    <main class='relative'>
      <article style={{ gridArea: 'info' }} class='p-4 flex flex-col items-center'>
        <h2 class='font-basicaline text-3xl text-black font-bold'>{title}</h2>
        <p class='text-gray-600'>{paragraph}</p>
      </article>

      <DynamicContent info={items} type={category} client:only />
    </main>
  </article>
</Layout>

<style>
  main {
    display: grid;
    grid-template-columns: 250px 1fr 1fr 1fr;
    grid-template-areas:
      'info info info info'
      'aside content content content'
      'aside content content content'
      'aside content content content';
  }
  @media screen and (max-width: 700px) {
    main {
      /* grid-template-columns: 1fr 1fr 1fr 1fr; */
      grid-template-areas:
        'info info info info'
        'aside aside aside aside'
        'content content content content'
        'content content content content';
    }
  }
</style>
