---
import Header from '../components/core/layout/Header.astro'
import Layout from '../layouts/Layout.astro'
import home from '../data/home.json'
---

<Layout>
  <Header title={home.header.title} description={home.header.description} />
  <main>
    <article>
      <section>
        <h2>Perfumes</h2>
        <p>
          Explora nuestra exclusiva colección de perfumes inspirados en las fragancias más icónicas del mundo. Cada aroma ha sido cuidadosamente recreado para capturar la esencia y elegancia de las
          marcas originales, ofreciendo una experiencia olfativa de alta calidad a un precio accesible.
        </p>
        <a href='/perfumes'>Ver Perfumes</a>
      </section>
      <section>
        <img src='#' alt='perfume-img' />
      </section>
    </article>

    <article>
      <section>
        <h2>Colocias</h2>
        <p>Texto</p>
        <a href='/colonias'>Ver Colonias</a>
      </section>
      <section>
        <img src='#' alt='colonia-img' />
      </section>
    </article>

    <article>
      <section>
        <h2>Cremas de Mano</h2>
        <p>Texto</p>
        <a href='/cremas'>Ver Cremas de Mano</a>
      </section>
      <section>
        <img src='#' alt='crema-img' />
      </section>
    </article>

    <article>
      <section>
        <h2>Crema de manos.</h2>
        <p>Texto</p>
        <a href='/cremas'>Ver Cremas de Mano</a>
      </section>
      <section>
        <img src='#' alt='crema-img' />
      </section>
    </article>
  </main>
</Layout>
