---
import Header from '../components/core/layout/Header.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout>
  <Header title='Perfumes' description='' />
  <main class='max-w-[1300px] mx-auto'>
    <article class='grid grid-cols-[repeat(auto-fill,_minmax(18rem,_1fr))] gap-8 w-[1300px]'>
      <article class='flex flex-col p-4 gap-4 glassmorphism'>
        <h2 class='font-basicaline text-3xl font-bold text-center'>Perfumes de Mujer</h2>
        <img src='https://essenciel.cl/cdn/shop/collections/todomujerpdp_790x790.jpg?v=1756863048' alt='' class='object-cover h-60 rounded-lg' />
        <a href='#' class='border border-primary bg-primary text-black py-1 px-4 rounded-lg hover:scale-102 active:scale-98'>Ver Listado de fragancias</a>
      </article>

      <article class='flex flex-col p-4 gap-4 glassmorphism'>
        <h2 class='font-basicaline text-3xl font-bold text-center'>Perfumes de Hombre</h2>
        <img src='https://essenciel.cl/cdn/shop/collections/3hombrepdp_693x693.jpg?v=1756862676' alt='' class='object-cover h-60 rounded-lg' />
        <a href='#' class='border border-primary bg-primary text-black py-1 px-4 rounded-lg hover:scale-102 active:scale-98'>Ver Listado de fragancias</a>
      </article>

      <article class='flex flex-col p-4 gap-4 glassmorphism'>
        <h2 class='font-basicaline text-3xl font-bold text-center'>Black Parfums</h2>
        <img
          src='https://scontent.cdninstagram.com/v/t51.75761-15/484297809_18372481645185048_1169685042700849179_n.webp?_nc_cat=111&ig_cache_key=MzU4ODM2MDU1MzM1NTc1MDE1OQ%3D%3D.3-ccb1-7&ccb=1-7&_nc_sid=58cdad&efg=eyJ2ZW5jb2RlX3RhZyI6InhwaWRzLjE0NDB4MTQ0MC5zZHIuQzMifQ%3D%3D&_nc_ohc=3PSCkQwGZTsQ7kNvwGsmKia&_nc_oc=AdlmvWNVVuFighiir1HS3Bs3bLTS8TCSjJdk0VbHNWSuuDtFMXcmx8bnxo6_yX1a-tk&_nc_ad=z-m&_nc_cid=0&_nc_zt=23&_nc_ht=scontent.cdninstagram.com&_nc_gid=SxMB5rFwEWqqWVJUFIRy2A&oh=00_AfcoKRXUGenU-_fLgSh9_NwxKK3d1210JczqsTFLYJ3jmA&oe=68F9D7CA'
          alt=''
          class='object-cover h-60 rounded-lg object-top'
        />
        <a href='#' class='border border-primary bg-primary text-black py-1 px-4 rounded-lg hover:scale-102 active:scale-98'>Ver Listado de fragancias</a>
      </article>

      <article class='flex flex-col p-4 gap-4 glassmorphism'>
        <h2 class='font-basicaline text-3xl font-bold text-center'>Red Parfums</h2>
        <img src='https://sociosparfums.cl/wp-content/uploads/2025/03/WhatsApp-Image-2025-03-27-at-12.27.06-AM-1.jpeg' alt='' class='object-cover h-60 rounded-lg object-top' />
        <a href='#' class='border border-primary bg-primary text-black py-1 px-4 rounded-lg hover:scale-102 active:scale-98'>Ver Listado de fragancias</a>
      </article>

      <article class='flex flex-col p-4 gap-4 glassmorphism'>
        <h2 class='font-basicaline text-3xl font-bold text-center'>Teen Girl</h2>
        <img
          src='https://scontent.cdninstagram.com/v/t39.30808-6/565139062_1228448969317406_5404491619972582451_n.jpg?stp=dst-jpg_e35_tt6&_nc_cat=111&ig_cache_key=Mzc0NTYzODEwNTc2MTI1NTI2Nw%3D%3D.3-ccb1-7&ccb=1-7&_nc_sid=58cdad&efg=eyJ2ZW5jb2RlX3RhZyI6InhwaWRzLjEzMjB4MTMyMC5zZHIuQzMifQ%3D%3D&_nc_ohc=DvKGgR23AckQ7kNvwGutmku&_nc_oc=AdmZeYJ7UbW_DGnubKRLjogR1ZHFNgl3Es_AqJpEgQyoUGbGMOfhtC-KeOMbnAC86wM&_nc_ad=z-m&_nc_cid=0&_nc_zt=23&_nc_ht=scontent.cdninstagram.com&_nc_gid=zBJkyB5qJv8VSLJa5NvGCQ&oh=00_AffhLXDr_-2FygVVA3jk3J2Ffj9qAKhBmQhizcYzXur8Og&oe=68F9C147'
          alt=''
          class='object-cover h-60 rounded-lg'
        />
        <a href='#' class='border border-primary bg-primary text-black py-1 px-4 rounded-lg hover:scale-102 active:scale-98'>Ver Listado de fragancias</a>
      </article>

      <article class='flex flex-col p-4 gap-4 glassmorphism'>
        <h2 class='font-basicaline text-3xl font-bold text-center'>Teen Boys</h2>
        <img
          src='https://scontent.cdninstagram.com/v/t39.30808-6/557740123_1220193116809658_5323725367239418077_n.jpg?stp=dst-jpg_e35_tt6&_nc_cat=100&ig_cache_key=MzczOTU5ODA2NzM1NzAxNTg2NA%3D%3D.3-ccb1-7&ccb=1-7&_nc_sid=58cdad&efg=eyJ2ZW5jb2RlX3RhZyI6InhwaWRzLjEzMjB4MTMyMC5zZHIuQzMifQ%3D%3D&_nc_ohc=L7GIwIK2FBYQ7kNvwGwYnf_&_nc_oc=AdmuTEIleIno9ogA3hPGcQPsKYWq3RAtUziz5ZNyuYTtoT1lc0c4g07PkMn5H0VypxY&_nc_ad=z-m&_nc_cid=0&_nc_zt=23&_nc_ht=scontent.cdninstagram.com&_nc_gid=KYG2aCnx8Z_cZlY2l711Nw&oh=00_AffuQUT4psyfkwMuXpyS04b5SKSN2FwS1_xN1J1WoPLUXw&oe=68F9FDA3'
          alt=''
          class='object-cover h-60 rounded-lg'
        />
        <a href='#' class='border border-primary bg-primary text-black py-1 px-4 rounded-lg hover:scale-102 active:scale-98'>Ver Listado de fragancias</a>
      </article>

      <article>
        <p>s</p>
      </article>
    </article>
  </main>
</Layout>
